body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 61);
}
.border{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 97.87vh;
}
.left{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.leftUpper{
    flex-grow: 1;
    background-color: rgba(255, 68, 0, 0.726);
}
.leftLower{
    flex-grow: 1;
    background-color: rgb(255, 205, 161);
}
.right{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}
.rightUpper{
    display: flex;
    flex-grow: 1;
}
.rightLower{
    display: flex;
    flex-grow: 2;
}
.rightUpperLeft{
    flex-grow: 1;    
    background-color: rgb(98, 193, 231);
}
.rightUpperRight{
    flex-grow: 1;
    background-color: rgba(255, 166, 0, 0.592);
}
.rightLowerLeft{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}
.rightLowerRight{
    flex-grow: 1;
    background-color: rgba(255, 68, 0, 0.726);
}
.rightLowerLeftUpper{
    display: flex;
    flex-grow: 1;
}
.rightLowerLeftLower{
    display: flex;
    flex-grow: 1;
}
.rightLowerLeftUpperLeft{
    flex-grow: 1;
    background-color: rgba(255, 166, 0, 0.592);
}
.rightLowerLeftUpperRight{
    background-color: rgb(255, 205, 161);
    flex-grow: 2;
    
}
.rightLowerLeftLowerLeft{
    flex-grow: 2;
    background-color: rgba(255, 68, 0, 0.726);
}
.rightLowerLeftLowerRight{
    flex-grow: 1;
    background-color: rgb(98, 193, 231);
}
.margin{
    margin: 6px;
}