body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 61);
}
.margin{
    margin: 5px;
}
.border{
    display: flex;
    width: 100%;
    height: 97.87vh;
}
.left, .right{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.leftUpper{
    flex-grow: 1;
    background-color: #e1489a;
}
.leftLower{
    display: flex;
    flex-grow: 4;
}
.leftLowerLeft, .leftLowerRight{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.leftLowerLeftUpper{
    flex-grow: 3;
    background-color: yellowgreen;
}
.leftLowerLeftLower{
    flex-grow: 1;
    background-color: rgb(239, 79, 79);
}
.rightUpper{
    display: flex;
    flex-grow: 3;
}
.rightLower{
    flex-grow: 1;
    background-color: #e1489a;
}
.rightUpperLeft, .rightUpperRight{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.rightUpperLeft1, .rightUpperRight2{flex-grow: 2;}
.rightUpperLeft2, .rightUpperRight3{flex-grow: 1;}
.rightUpperLeft3, .rightUpperRight1{flex-grow: 3;}
.rightUpperLeft1, .rightUpperRight3{background-color: rgb(239, 79, 79);}
.rightUpperLeft2, .rightUpperRight1{background-color: rgb(108, 193, 210);}
.rightUpperLeft3, .rightUpperRight2{background-color: yellowgreen;}
.leftLowerRight{
    background-color: rgb(108, 193, 210);
}