.border{
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
    gap: 50px
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe {
    border-radius: 10px;
    transition: height 2s ease-in-out, width 2s ease-in-out;
}
iframe:hover{
    height: 70%;
    width: 40%;
}