body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(248, 193, 92);
}
.border{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 97.87vh;
    justify-content: center;
}
.upper{
    display: flex;
    flex-grow: 2;
}
.lower{
    display: flex;
    flex-grow: 1;
}
.upperLeft, .upperRight, .upperRightLeft, .upperRightRight{
    display: flex;
    flex-grow: 1;
}
.upperLeft{
    flex-direction: column;
}
.upperLeftUpper{
    flex-grow: 3;
    background: rgb(13, 164, 13);
}
.upperLeftLower{
    flex-grow: 2;
}
.upperLeftLower{
    display: flex;
    flex-direction: row;
}
.upperLeftLowerLeft, .upperLeftLowerRight{
    flex-grow: 1;
}
.upperLeftLowerLeft{
    background-color: rgb(155, 66, 204);
}
.upperLeftLowerRight{
    background-color: rgb(234, 255, 6);
}
.upperRightLeft, .upperRightRight{
   flex-direction: column;
}
.upperRightLeftUpper, .upperRightRighLower{
   flex-grow: 3;
}
.upperRightLeftLower, .upperRightRightUpper{
   flex-grow: 2;
}
.lowerLeft{
   flex-grow: 6;
   background-color: rgb(4, 255, 4);
}
.lowerRight{
   flex-grow: 19;
   background-color: rgb(203, 86, 86);
}
.upperRightLeftUpper{
   background-color: rgb(227, 98, 11);
}
.upperRightLeftLower{
   background-color: rgb(221, 151, 163);
}
.upperRightRightUpper{
   background-color: rgb(214, 176, 176);
}
.upperRightRighLower{
   background-color: rgb(99, 56, 56);
}
.margin{
    margin: 5px;
}
